

/* Dekstop */
@media(min-width:1024px){

}

/* tablet view */
@media(min-width:769px) and (max-width:1023px){
    section header ul li button{
        background-color: #efd445;
    }

}

/* Mobile view */
@media (max-width:768px){
    section .main .search-box .search {
        width:70% ;
    }
    section .main .search-box .icons{
        width: 80%;
    }
    section .footer .row{
        display: block;
    }
    section header ul li button{
        background-color: #9245ef;
}
}